
.container-fluid{
    background-color: cyan;
    height:105px;
}

li a #login {
    left:1000px;
}



li h1 {
    position:relative;
    font-style: italic;
    top: 10px;
    right:2px;
}

li img  {
         position: relative;
        left : 975px;
         top:22px;
    background-color:aqua;

}

.modal-body textarea{
    width: 570px;
    height: 150px;
    padding: 12px 20px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    background-color: #f8f8f8;
    font-size: 16px;
    resize: none;
}

.modal-body input[type=submit] {
        background-color: blue;
        color: white;
    padding: 6px 18px;
        margin: 4px 2px;
        cursor: pointer;
    position: relative;
    left: 240px;

}

.dropdown {
     position: relative;
    width: 200px;
    left: 1175px;
    bottom: 40px;

}

#home_button {
    position: relative;
    top: 15px;
    left:1px;
}


a {
    position: relative;
    left: 10px;
}
